// Header
.button-login,
.button-search {
  display: flex;
  align-items: center;
  gap: 1rem;
  @include transitions;

  span {
    color: white;
  }
}

.button-bag {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  @include transitions;
}

// Slider
.button-slider {
  width: 2rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(white, 0.1);
  background-color: rgba(white, 0.1);
  @include transitions;

  .button-icon {
    font-size: 1.5rem;
    color: white;
    @include transitions;
  }

  &:hover {
    background-color: rgba(white, 0.2);

    .button-icon {
      transform: scale(1.1);
    }
  }

  &:active {
    transform: scale(0.9);
  }
}

.button-slider--left {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.button-slider--right {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.button-add {
  background-color: $bg_button;
  color: white;
  border-radius: 30px;
  padding: 0.875rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 0;
  @include transitions;

  .icon {
    @include transitions;
  }

  &:hover {
    background-color: rgba($bg_button, 0.8);
  }

  &:active {
    .icon {
      transform: scale(0.8);
    }
  }
}
