// Colors
$red: #e43d30;
$grey: #828181;

// Bg
$bg_dark: #181818;
$bg_button: #202020;

// Gradients
$gradient: linear-gradient(270deg, #2d2b2b 16.69%, #000000 50.41%);

// Transitions
@mixin transitions {
  transition: all 0.15s ease-in-out;
}
