// Imports
@import './variables';
@import './buttons';

//Fonts
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/inter-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./assets/fonts/inter-700.woff2') format('woff2');
}

// Overall
body {
  height: 100vh;
  color: white;
  font-family: 'Inter', sans-serif;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: $grey;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }
  a.active {
    color: white;
  }
}

// Page
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}
