// Imports
@import './variables';
@import './buttons';

//Fonts
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/inter-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/inter-700.woff2') format('woff2');
}

// Overall
body {
  font-family: 'Inter', sans-serif;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

// Page
.product-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  background-image: radial-gradient(circle farthest-corner at 0.5% 3%, #62327a, #38005c);
  background-repeat: no-repeat;

  a {
    color: rgba(white, 0.6);
    text-decoration: none;

    &:hover,
    &.active {
      color: white;
    }
  }

  @media (max-width: 767.98px) {
    padding-bottom: 1.5rem;
  }
}
