.login {
  position: relative;

  .btn-close-x {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 1;
    color: #fff;
  }
  .card {
    border: none;
    background-image: radial-gradient(circle farthest-corner at 0.5% 3%, #62327a, #38005c);
    color: #fff;
  }
  p {
    font-weight: 600;
    font-size: 15px;
  }
  .fab {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #38005c;
    height: 40px;
    width: 90px;
    border-radius: 6px;
    border: 1px solid #62327a;
  }
  .fab:hover {
    cursor: pointer;
  }
  .fa-facebook {
    color: #1775f1;
  }
  .fa-google {
    color: #cb5048;
  }

  .myform {
    padding: 0 25px 0 33px;
  }
  .form-control {
    border: 1px solid #62327a;
    background: #38005c;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 6px;
    padding: 12px;
  }
  .form-control:focus {
    box-shadow: none;
  }
}
