@import '/src/styles/variables';

header {
  border-bottom: 1px solid rgba(white, 0.2);

  .navigation {
    padding: 2rem 0;

    @media (max-width: 991.98px) {
      &__brand {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
      }

      .navigation__list {
        justify-content: start;
      }
      .navigation__list--main {
        margin: 2rem 0;
      }
    }

    .navbar-toggler {
      box-shadow: none !important;
      padding: 0;
      height: 3rem;
      width: 3rem;

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg width='448' height='384' viewBox='0 0 448 384' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 32C0 14.3 14.3 0 32 0H416C433.7 0 448 14.3 448 32C448 49.7 433.7 64 416 64H32C14.3 64 0 49.7 0 32ZM0 192C0 174.3 14.3 160 32 160H416C433.7 160 448 174.3 448 192C448 209.7 433.7 224 416 224H32C14.3 224 0 209.7 0 192ZM448 352C448 369.7 433.7 384 416 384H32C14.3 384 0 369.7 0 352C0 334.3 14.3 320 32 320H416C433.7 320 448 334.3 448 352Z' fill='white'/%3E%3C/svg%3E%0A");
        @include transitions;
      }
      &:not(.collapsed) .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg width='321' height='321' viewBox='0 0 321 321' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M310.675 54.675C323.175 42.175 323.175 21.875 310.675 9.375C298.175 -3.125 277.875 -3.125 265.375 9.375L160.075 114.775L54.675 9.475C42.175 -3.025 21.875 -3.025 9.375 9.475C-3.125 21.975 -3.125 42.275 9.375 54.775L114.775 160.075L9.475 265.475C-3.025 277.975 -3.025 298.275 9.475 310.775C21.975 323.275 42.275 323.275 54.775 310.775L160.075 205.375L265.475 310.675C277.975 323.175 298.275 323.175 310.775 310.675C323.275 298.175 323.275 277.875 310.775 265.375L205.375 160.075L310.675 54.675Z' fill='white'/%3E%3C/svg%3E%0A");
      }
    }

    &__collapse {
      display: flex;
      width: 100%;

      @media (max-width: 767.98px) {
        flex-wrap: wrap;

        .navigation__list {
          width: 100%;
        }
      }
    }

    @media (max-width: 575.98px) {
      .navigation__list {
        justify-content: center;
      }
      .navigation__list--main {
        flex-direction: column;
      }
    }

    &__list {
      display: flex;
      align-items: center;
      margin-left: auto;
    }

    &__list--main {
      gap: 1.5rem;
    }

    &__list--actions li {
      margin-right: 1.5rem;
    }
    &__list--actions li:last-child {
      padding-left: 1.5rem;
      border-left: 1px solid rgba(white, 0.2);
      margin-right: 0;
    }

    &__link {
      position: relative;

      &.active::before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $red;
        position: absolute;
        bottom: -2px;
        left: 0;
      }
    }
    &__link--featured {
      color: $red;
      font-weight: 700;
    }
  }
}
