@import '/src/styles/variables';

header {
  border-bottom: 1px solid white;

  .navigation {
    padding: 2rem 0;

    &__list {
      display: flex;
      align-items: center;
      margin-left: auto;
    }

    &__list--main {
      gap: 1.5rem;
    }

    &__list--actions li:first-child {
      padding-right: 1.5rem;
      margin-right: 1.5rem;
      border-right: 1px solid rgba(white, 0.2);
    }

    &__link {
      position: relative;

      &.active::before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $red;
        position: absolute;
        bottom: -2px;
        left: 0;
      }
    }
    &__link--featured {
      color: $red;
    }
  }
}
